
<div class="container">
        <br>
        <h2 style="text-align:center;color: cornsilk;">{{title}}</h2>

      </div>

<div class="container1">
  <div class  ="btn1">
          <a style="color:rgb(92, 35, 145)" href="students1" ><button type="button" class="button" >
          <span>Display Students</span></button></a><br>
  </div>
  <div class="btn2">
          <a style="color:rgb(92, 35, 145)" href="add"><button type="button" class="button" >
          <span>Add Student</span></button></a><br>
  </div> 
  <div class="btn3">
         <a style="color:rgb(92, 35, 145)" href="update"> <button type="button" class="button" >
          <span>Update Student</span></button></a><br>
  </div>
  <div class="btn4">
         <a style="color:rgb(92, 35, 145)" href="delete"> <button type="button" class="button" >
          <span>Remove Student</span></button></a><br>
  </div>
  <div class="btn5"> 
          <a style="color:rgb(92, 35, 145)" href="searchhome"><button type="button" class="button" >
          <span>Search Student</span></button></a><br>
  </div>
  <div class="btn6"> 
        <a style="color:rgb(92, 35, 145)" href="multiplestudents"><button type="button" class="button" >
        <span>Add Multiple Students</span></button></a><br><br>
</div>
  </div>
  