<div class="d-flex flex-column justify-content-center w-100 h-100">

    <div class="d-flex flex-column justify-content-center align-items-center">
               <div class="btn-group my-5">
            </div>
        
    </div>
  </div>
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  <div class="info">
     <h1 style="color: cornsilk;">{{department.dept_name}}</h1>
     <h1 style="color: pink;">_____________________________________________________</h1>
  </div>
  <div class="overview">
      
    <h1 id="ov">Overview</h1>
    <span>The Department of <span>{{department.dept_name}}</span> which was started in the year 1998 offers a 
    UG Programme (B.E.) in <span>{{department.dept_name}}</span> and PG Programme (M.E.) in Communication Systems. 
    The B.E. <span>{{department.dept_name}}</span> Programme has been accredited by NBA, New Delhi. The department has also been 
    recognised as a centre for carrying out Ph.D./M.S. (By Research) Programme under Anna University. The department has a team of committed faculty members who are not only well qualified 
    but are also backed by rich industrial / research / teaching experience.</span>

  <h1 id="ov">Duration</h1>
  <span>{{department.duration_regular}} years (Regular) / {{department.duration_lateral}} Years (Lateral Entry)</span>

    <h1 id="ov">No. of Semesters</h1>
  <span>{{department.noofsemesters_regular}} (Regular) / {{department.noofsemesters_lateral}} (Lateral Entry)</span>

  <h1 id="ov">No. of Seats</h1>
  <span>Total - {{department.noofseats}} ( NRI Approval Status - Yes , PIO / FN / GULF quota / OCI Approval Status - Yes )</span>

  <h1 id="ov">Eligibility</h1>
  <span>10+2 system of Education. Must have secured a pass in Physics, Chemistry and Mathematics<br>in the qualifying examination.</span>
  </div><br>