
<h3 class="heading">Student Details</h3>
<table id="students">
  <tr>
    <th>Student ID</th>
    <th>Name</th>
    <th>E-Mail</th>
    <th>Phone No</th>
    <th>Date of Birth</th>
    <th>Gender</th>
    <th>Department </th>
    <th>College </th>
    <th colspan="3">Area of Interest</th>
  
    
  </tr>
  
    <tr *ngIf="student">
      <td>{{student.id}}</td>
      <td>{{student.name}}</td>
      <td>{{student.mailid}}</td>
      <td>{{student.phoneno}}</td>
      <td>{{student.dob}}</td>
     
      <td>{{student.gender}}</td>
      <td>{{student.department.dept_name}}</td>
      <td>{{student.college.name}}</td>
      <td>{{student.areaofinterest1}}</td>
      <td>{{student.areaofinterest2}}</td>
      <td>{{student.areaofinterest3}}</td>
      
    </tr>
  
</table><br><br>
<button (click)="list()" class="btn btn-primary" style="margin-left: 15%; width: 15%;">Back to Student List</button><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


